*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
    padding: 35px 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.navbar .nav1 h1 a{
    text-decoration: none;
    color: white; 
    width: 30%;
    text-transform: uppercase !important;

}
.nav2{
    float: right;
    margin-top: -25px;
}
.nav2 a{
    text-decoration: none;
    color: white;   
    margin-right: 20px;
    font-weight: 900;
    text-transform: uppercase !important;

}
.section{
    width: 100%;
    height: 150vh;
    background-color: #1ABC9C;
    z-index: 1;
}
.section1 img{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.section2 h1{
    width: 800px;
    height: 600px;
    color: white;
    font-size: 60px;
    font-weight: 60px;
    position: absolute;
    top: 150%;
    left: 60%;
    transform:translate(-50%,-50%);
}
.section3 {
    width:120px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 60px;
    position: absolute;
    top: 109%;
    left: 43%;
    transform:translate(-50%,-50%);
}
.section4 {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 108%;
    left: 52%;
    transform:translate(-50%,-50%);
}
.section5 {
    width:120px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 60px;
    position: absolute;
    top: 109%;
    left: 61%;
    transform:translate(-50%,-50%);
} 
.section6 h2{
    width: 800px;
    height: 600px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 190%;
    left: 68%;
    transform:translate(-50%,-50%);
}
.banner{
    width: 100%;
    height:130vh;
    background-color: #1ABC9C;
}
.banner1 h1{
    width: 800px;
    height: 600px;
    color: white;
    font-size: 50px;
    font-weight: 60px;
    position: absolute;
    top: 345%;
    left: 81%;
    transform:translate(-50%,-50%);
}
.banner2 {
    width:120px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 60px;
    position: absolute;
    top: 300%;
    left: 43%;
    transform:translate(-50%,-50%);
}
.banner3 {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 300%;
    left: 52%;
    transform:translate(-50%,-50%);
}
.banner4 {
    width:120px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 60px;
    position: absolute;
    top: 300%;
    left: 61%;
    transform:translate(-50%,-50%);
} 
